<aside class="site-notice" data-site-notice aria-label="Page status">
  <div class="site-notice__inner">
    <div class="site-notice__message">
      <img
        class="site-notice__icon"
        src="{{ '/assets/icons/info-outline.svg' | relative_url }}"
        alt=""
        width="24"
        height="24"
      />
      <p>This page is a work in progress.</p>
    </div>
    <button class="site-notice__close" type="button" data-site-notice-close aria-label="Dismiss notice">
      <svg viewBox="0 0 24 24" aria-hidden="true">
        <path d="M6 6 18 18M18 6 6 18" />
      </svg>
    </button>
  </div>
</aside>
